---
layout: default
title: "Blog"
permalink: /blog/
---
<head>
    <style>
        body {
            background-image: url('/background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .container {
            margin: 20px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.7); /* white background with some transparency */
        }
    </style>
</head>

<div class="container">
    {% if site.show_excerpts %}
      {% include home.html %}
    {% else %}
      {% include archive.html title="Posts" %}
    {% endif %}
</div>
